---
import Layout from '@layouts/Page.astro'
import Network from '@components/Network'
import benevolence from '@data/cooccurrence_benevolence.json'
import ren from '@data/cooccurrence_仁.json'
---

<Layout>
  <main class="container mx-auto py-8">
    <div class="xl:flex">
      <Network client:only data={ren} , centralNodeId="仁" />
      <Network client:only data={benevolence} , centralNodeId="benevolence" />
    </div>
  </main>
</Layout>
